{% extends 'englishWords/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class = "img-article-left" src="{{post.photo.url}}"></img></p>
{% endif %}

<h2>{{post.description}}</h2>


<table>
  <tr>
      <td>Word</td>
      <td>Translation</td>
      <td>Add time</td>
  </tr>
    {% for word in word_cat %}
        <tr>
            <td><a href="#">{{word.word}}</a></td>
            <td><a href="#">{{word.translation}}</a></td>
            <td><a href="#">{{word.ime_create}}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}