{% extends 'englishWords/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class = "img-article-left" src="{{post.photo.url}}"></img></p>
{% endif %}

{{post.description}}


<table>
  <tr>
      <td>Word</td>
      <td>Translation</td>
      <td>Cnt repeats</td>
      <td>Stady of learn</td>
  </tr>
   <tr>
      <td><a href="#">Mother</a></td>
      <td>Mama</td>
      <td>0</td>
  </tr>
    <tr>
      <td><a href="#">Father</a></td>
      <td>Папа</td>
      <td>0</td>
  </tr>
</table>

{% endblock %}